/target/ 
/.settings/ 
/*.project
/.DS_Store
/distributed/

/matrix-vip-service/target/
/matrix-vip-service/.settings/
/matrix-vip-service/.project 
/matrix-vip-service/.classpath
/matrix-vip-service/.DS_Store


/matrix-vip-service/matrix-vip-api/target/
/matrix-vip-service/matrix-vip-api/.settings/
/matrix-vip-service/matrix-vip-api/.project 
/matrix-vip-service/matrix-vip-api/.classpath
/matrix-vip-service/matrix-vip-api/.DS_Store

/matrix-vip-service/matrix-vip-rpc-facade/target/
/matrix-vip-service/matrix-vip-rpc-facade/.settings/
/matrix-vip-service/matrix-vip-rpc-facade/.project 
/matrix-vip-service/matrix-vip-rpc-facade/.classpath
/matrix-vip-service/matrix-vip-rpc-facade/.DS_Store

/matrix-vip-service/matrix-vip-rpc-impl/target/
/matrix-vip-service/matrix-vip-rpc-impl/.settings/
/matrix-vip-service/matrix-vip-rpc-impl/.project 
/matrix-vip-service/matrix-vip-rpc-impl/.classpath
/matrix-vip-service/matrix-vip-rpc-impl/.DS_Store

/.idea/
/matrix-vip-service.iml

*.iml
















